.main-container {
    min-height: 100vh; /* 100% of viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #632F09C6;
}

.form-card{
    background: #f5f5f5;
    padding:2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px  rgba(0, 0, 0, 0.1);
    width: 24rem;
}

.title{
    padding-left:2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
    color: saddlebrown;
}

.subtitle{
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 2rem;
    color: saddlebrown;
    font-size: 0.875rem;
}

.form-container{
    display: flex;
    padding-left:2rem;
    padding-right:2rem;
    flex-direction: column;
    gap: 1.5rem;

}

.field-group{
    display: flex;
    flex-direction: column;
   padding-right: 1rem;
}

.label{
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: saddlebrown;

}

.label-row{
    display: flex;
    justify-content: space-between;

    padding: 1rem 0 0 0;
    margin-bottom: 0.5rem;
}

.required{
    color: red;
}

.forgot-link{
    font-size: 0.875rem;
    color: #2563EB;
    text-decoration: none;
}

.input{
    width: 100%;
    padding: 0.5rem ;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 0.875rem;
}

.password-container{
    position: relative;

}

.password-input{
    width: 100%;
    padding: 0.5rem ;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 0.875rem;
}

.eye-button{
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.eye-icon{
    height: 1.25rem;
    width: 1.25rem;
    color: #6b7280;
}

.checkbox-row{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

}

.checkbox{

    height: 1rem;
    width: 1rem;
}

.checkbox-label{
    margin-top: 0.25rem;
    font-size: 0.875rem;

    color: #92400E;
}

.submit-button{
    width: 100%;
    padding: 0.625rem 1rem;
    margin-top: 0.75rem;
    background-color: #632F09C6;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.login-row{
    text-align: center;
}

.login-text{
    font-size: 0.875rem;
    color: #92400E;
}

.login-link{
    color: #2563EB;
    font-weight: 500;
    text-decoration: none;
}
.divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

.divider-line{
    flex: 1;
    height:1px;
    background-color: saddlebrown;
}

.divider-text{
    margin: 0 1rem;
    color: #776161FF;
}

.google-button{
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    color: #374151;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    cursor: pointer;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.register-text{
    font-size: 0.875rem;
    color:#6b7280;
}

.register-link{
    color: #3b82f6;
    font-weight: 500;
    text-decoration: none;
}

.register-row{
    text-align: center;
    align-items: center;
}

/*.container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: auto;*/
/*    margin-top: 200px;*/
/*    background: #ffffff;*/
/*    padding-bottom: 30px;*/
/*}*/

/*.header{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 9px;*/
/*    width: 100%;*/
/*    margin-top:30px;*/
/*}*/

/*.text{*/
/*    color: #8B4422;*/
/*    font-size: 48px;*/
/*    font-weight: 700;*/
/*}*/

/*.underline{*/
/*    width: 61px;*/
/*    height: 6px;*/
/*    background: #8B4422;*/
/*    border-radius: 9px;*/
/*}*/

/*.inputs{*/
/*    margin-top: 55px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 25px;*/
/*}*/

/*.input{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: auto;*/
/*    width:480px;*/
/*    height: 80px;*/
/*    background: #fff;*/
/*    border-radius: 6px;*/
/*}*/