.main-container {
    min-height: 100vh; /* 100% of viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #632F09C6;
}

.form-card{
    width: 30rem;
    height: auto;
    background: #f5f5f5;
    padding:1.25rem 2.5rem 1.875rem 3.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px  rgba(0, 0, 0, 0.1);

}

/*.form-content{*/
/*    width: 30rem;*/
/*    height: auto;*/
/*}*/
.title{
    padding-left:2rem;
    padding-top:2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
    color: saddlebrown;
}

.subtitle{
    text-align: left;
    padding-left: 2rem;

    color: saddlebrown;
    font-size: 0.80rem;
}

.form-container{
    width: 22rem;
    min-height: 27rem;
    display: flex;
    padding-left:2rem;
    padding-right:2rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

}

.field-group{
    display: flex;
    flex-direction: column;
   padding-right: 1rem;
}

.label{
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: saddlebrown;

}

.label-row{
    display: flex;
    justify-content: space-between;

    padding: 1rem 0 0 0;
    margin-bottom: 0.5rem;
}

.required{
    color: red;
}

.forgot-link{

    display: flex;
    justify-content: flex-end;
    font-size: 0.875rem;
    color: #2563EB;
    text-decoration: none;
}

.input{
    width: 22rem;
    padding: 0.5rem ;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 0.875rem;

}

.password-container{
    position: relative;

}

.password-input{
    width: 22rem;
    padding: 0.5rem ;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 0.875rem;

}

.input-wrapper{
    position: relative;   /* makes this the positioning reference */
    width: 23rem;

}

.eye-button{
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.eye-icon{
    height: 1.25rem;
    width: 1.25rem;
    color: #6b7280;
}

.checkbox-row{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 0;
}

.checkbox{

    height: 1rem;
    width: 1rem;
}

.checkbox-label{
    margin-top: 0.25rem;
    font-size: 0.875rem;

    color: #92400E;
}

.submit-button{
    width: 23rem;
    padding: 0.625rem 1rem;
    margin-top: 0.75rem;
    background-color: #632F09C6;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.login-row{
    text-align: center;
}

.login-text{
    font-size: 0.875rem;
    color: #92400E;
}

.login-link{
    color: #2563EB;
    font-weight: 500;
    text-decoration: none;
}

.register-text{
    font-size: 0.875rem;
    color:#6b7280;
}

.register-link{
    color: #3b82f6;
    font-weight: 500;
    text-decoration: none;
}

.register-row{
    text-align: center;
    align-items: center;
}

